.banner {
  padding: 200px 0;
  background-image: url(landing/images/bg.jpeg);
  background-size: cover;
  background-position: right;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.header-text {
  width: 400px;
  color: #FFF;
  text-align: left;
}

.header-btn {
  padding: 12px;
  text-shadow: none;
  font-weight: 400;
  font-size: 16px;
  background-color: #922929;
  border-radius: 5px;
}

.header-btn:hover {
  border-radius: 30px;
  transition: ease-in 0.2s;
}

.header-text p {
  opacity: 0.8;
  font-size: 24px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 200px;
  text-align: center;
  padding: 20px;
}

.card img {
  width: 125px;
}

footer {
  text-align: center;
  padding: 60px;
  color: rgb(216, 212, 212);
  background-color: #003049;
}

.social-icons {
  margin-bottom: 40px;
}

footer a{
  color: rgb(216, 212, 212);
  font-size: 30px;
  margin: 0 20px;
}
